{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<div {{ attributes.addClass(classes) }}>
  {{ content }}

  <div class="field--type-link">
    <a href="{{ url }}">
      {{ 'Read more' | trans }}
    </a>
  </div>
</div>
