{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
      {% block content %}
        <div class="card ">
        {% if paragraph.field_os2web_spotbox.value %}
          <div class="card-content">
            <div class="content-text">
              {{ content.field_os2web_spotbox }}
            </div>
          </div>
        {% endif %}
        </div>
      {% endblock %}
  </div>
{% endblock paragraph %}
