/* Spacing between elements inside sidebars. */
.region-sidebar-first > div + div,
.region-sidebar-second > div + div {
  margin-top: 30px;
}
.field--name-field-os2web-page-paragraph-left .field__item + .field__item,
.field--name-field-os2web-page-paragraph-righ .field__item + .field__item {
  margin-top: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;
}
