.tns-item img {
  width: 100%;
}

/* Navigation. */
.tns-nav {}
.tns-nav button {
  display: inline-block;

  height: 14px;
  width: 14px;

  padding: 0;

  border: 2px solid #000;
  border-radius: 100%;

  background-color: transparent;
}
.tns-nav button + button {
  margin-left: 15px;
}
.tns-nav button.tns-nav-active {
  background-color: #000;
}
